.App {
  text-align: center;
}

.head
{
  text-align: center;
  color: rgb(50, 97, 95);
  background-color: rgb(167, 116, 162);
  padding: 3px;

}

.divison
{
  
  background-color: #eecdcd;
  justify-content: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}

.sub
{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
table{
  background-color: rgb(167, 116, 162)
}

#btn
{
    background-color: #5a7886;
    margin : 5px 10px;
    padding: 10px 20px;
    color : white; /* Add this for better visibility of the text */
    border: solid;
    border-radius: 4px; /* Add this for rounded corners */
    border-color: rgb(167, 116, 162) ;
    cursor : pointer;
    font-size: 20px; /* Larger font size for better readability */
    height : 90px;
    width : 400px;
}



body {
  background-color: #eecdcd;
  color: rgb(19, 137, 184);
}

.redbtn
{
  padding: 10px 20px;
  margin : 5px  auto 10px auto;
  justify-content: center;
  background-color: rgb(197, 7, 7);
  border-radius: 4px; /* Add this for rounded corners */
  border-color: rgb(160, 160, 12) ;
  cursor : pointer;
  font-size: 15px; /* Larger font size for better readability */
  color : rgb(15, 1, 11);
 
  
}

.input
{
  padding: 10px 20px;
  margin : 5px  auto 10px auto;
  justify-content: center;
  border-radius: 4px; /* Add this for rounded corners */
  border-color: rgb(167, 116, 162) ;

}

.greenbtn
{
  padding: 10px 20px;
  margin : 5px  auto 10px auto;
  justify-content: center;
  background-color: rgb(3, 109, 17);
  border-radius: 4px; /* Add this for rounded corners */
  border-color: rgb(28, 156, 60) ;
  cursor : pointer;
  font-size: 15px; /* Larger font size for better readability */
  color : rgb(15, 1, 11);
}