.App {
  text-align: center;
}

.head
{
  text-align: center;
  color: rgb(50, 97, 95);
  background-color: rgb(167, 116, 162);
  padding: 3px;

}

.divison
{
  
  background-color: #eecdcd;
  justify-content: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  
}

.sub
{
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
table{
  background-color: rgb(167, 116, 162)
}

#btn
{
    background-color: #5a7886;
    padding: 15px;
    margin :10px 20px;
    color : white; /* Add this for better visibility of the text */
    border: solid;
    border-radius: 4px; /* Add this for rounded corners */
    border-color: rgb(167, 116, 162) ;
    cursor : pointer;
    font-size: 20px; /* Larger font size for better readability */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    height : 90px;
    width : 400px;
}



body {
  background-color: #eecdcd;
  color: rgb(19, 137, 184);
}
